CMakeLists.txt.user
GCompris.pro.user
.directory
# We don't need it because po files are under poqm
po
*.aac
*.qrc
*.qmlc
*.jsc
*~
build/*
*.DS_Store
src/activities/activities_out.txt
.kdev4/
*.kdev4
*autosave
