# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: none
CMakeLists.txt.user
GCompris.pro.user
.directory
*.aac
*.qrc
*.qmlc
*.jsc
*~
build/*
*.DS_Store
src/activities/activities_out.txt
.kdev4/
*.kdev4
*autosave
