[Desktop Entry]
Encoding=UTF-8
Name=GCompris Educational Game
Name[ca]=Joc educatiu GCompris
Name[cs]=Výuková hra GCompris
Name[de]=GCompris-Lernspiel
Name[en_GB]=GCompris Educational Game
Name[es]=Juego educativo GCompris
Name[gl]=Xogo educativo GCompris
Name[it]=Gioco didattico GCompris
Name[nl]=Educatief spel GCompris
Name[pl]=Gra edukacyjna GCompris
Name[pt]=Jogo Educativo GCompris
Name[pt_BR]=Jogo educacional GCompris
Name[ro]=Joc educațional GCompris
Name[sk]=Výuková hra GCompris
Name[sl]=Izobraževalna igra GCompris
Name[sv]=GCompris pedagogiskt spel
Name[uk]=Освітня гра GCompris
Name[x-test]=xxGCompris Educational Gamexx
Name[zh_CN]=GCompris 教育游戏
GenericName=Educational game
GenericName[ca]=Joc educatiu
GenericName[cs]=Výuková hra
GenericName[de]=Lernspiel
GenericName[en_GB]=Educational game
GenericName[es]=Juego educativo
GenericName[gl]=Xogo educativo
GenericName[it]=Gioco didattico
GenericName[nl]=Educatief spel
GenericName[pl]=Gra edukacyjna
GenericName[pt]=Jogo educativo
GenericName[pt_BR]=Jogo educacional
GenericName[ro]=Joc educațional
GenericName[sk]=Výuková hra
GenericName[sl]=Izobraževalna igra
GenericName[sv]=Pedagogiskt spel
GenericName[uk]=Освітня гра
GenericName[x-test]=xxEducational gamexx
GenericName[zh_CN]=教育游戏
Comment=Multi-Activity Educational game for children 2 to 10
Comment[ca]=Joc educatiu amb múltiples activitats per a nens dels 2 a 10 anys
Comment[de]=Lernspiel mit vielen Aktivitäten für Kinder von 2 bis 10 Jahren
Comment[en_GB]=Multi-Activity Educational game for children 2 to 10
Comment[es]=Juego educativo multiactividad para niños de 2 a 10 años
Comment[gl]=Xogo educativo con varias actividades para nenos de entre 2 e 10 anos.
Comment[it]=Gioco didattico multi-attività per bambini da 2 a 10 anni
Comment[nl]=Educatief spel met meerdere activiteiten voor kinderen van 2 tot 10
Comment[pl]=Gra edukacyjna z wieloma aktywnościami dla dzieci w wieku od 2 do 10 lat
Comment[pt]=Jogo educativo multi-actividades para crianças dos 2 aos 10 anos
Comment[pt_BR]=Jogo educacional multi-atividade para crianças de 2 a 10 anos
Comment[ro]=Joc educațional cu multe activități pentru copii de la 2 la 10 ani
Comment[sk]=Viac-aktivitová výuková hra pre deti od 2 do 10 rokov
Comment[sl]=Izobraževalna igra z več dejavnostmi za otroke med drugim in desetim letom starosti
Comment[sv]=Pedagogiskt multiaktivitetsspel för barn från 2 till 10 år
Comment[uk]=Набір освітніх ігор для дітей від 2 до 10 років
Comment[x-test]=xxMulti-Activity Educational game for children 2 to 10xx
Comment[zh_CN]=为 2 到 10 岁儿童准备的多功能教育游戏
Exec=gcompris-qt
Icon=gcompris-qt
Terminal=false
Type=Application
Categories=Education;Game;KidsGame;
StartupNotify=true
X-DocPath=gcompris/index.html
