# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2026 Johnny Jazeix <jazeix@gmail.com>
[Desktop Entry]
Name=GCompris-teachers
Name[bg]=GCompris за учители
Name[ca]=GCompris-teachers
Name[ca@valencia]=GCompris-teachers
Name[es]=GCompris-teachers
Name[ia]=GCompris-teachers
Name[ka]=GCompris-teachers
Name[nl]=GCompris-docenten
Name[pt_BR]=GCompris-teachers
Name[sl]=GCompris-teachers
Name[tr]=GCompris-Teachers
Name[uk]=GCompris-teachers
GenericName=GCompris teachers companion
GenericName[bg]=GCompris за учители
GenericName[ca]=Acompanyament del professorat del GCompris
GenericName[ca@valencia]=Acompanyament del professorat de GCompris
GenericName[es]=Complemento de GCompris para profesores
GenericName[ia]=GCompris teachers companion
GenericName[ka]=GCompris-ის ხელსაწყო მასწავლებლებისთვის
GenericName[nl]=Compagnon van GCompris-docenten
GenericName[pt_BR]=Aplicativo complementar do GCompris para professores
GenericName[sl]=Učiteljev spremljevalec za GCompris
GenericName[tr]=GCompris Öğretmen Yardımcısı
GenericName[uk]=Компаньйон GCompris для вчителів
Comment=GCompris-teachers is a companion application for teachers to enhance their use of GCompris in their classroom.
Comment[bg]=GCompris-за учители е съпътстващо приложение за учители, което им помага да подобрят използването на GCompris в класните занимания.
Comment[ca]=El GCompris-teachers és una aplicació d'acompanyament del professorat per a millorar l'ús del GCompris a les seves classes.
Comment[ca@valencia]=GCompris-teachers és una aplicació d'acompanyament del professorat per a millorar l'ús de GCompris en les seues classes.
Comment[es]=GCompris-teachers es una aplicación complementaria para profesores que permite potenciar el uso de GCompris en clase.
Comment[ia]=GCompris-teachers (Instructores de GCompris) es un applicationcompanion per instructores per augmentar lor usage de GCompris in lor sala de classe.
Comment[ka]=GCompris-teachers მომყოლი აპლიკაციაა მასწავლებლებისთვის, რომ GCompris-ის საკლასო ოთახში გამოყენება გაფართოვდეს.
Comment[nl]=GCompris-docenten is een compagnontoepassing voor docenten om hun gebruik van GCompris in hun klas te vergroten.
Comment[pt_BR]=GCompris-teachers é um aplicativo complementar para professores que visa aprimorar o uso do GCompris em sala de aula.
Comment[sl]=GCompris-teachers je spremljevalna aplikacija za učitelje, ki jim omogoča boljšo uporabo GComprisa v razredu.
Comment[tr]=GCompris-Teachers, öğretmenlerin GCompris’i sınıflarında daha etkili kullanmalarını sağlayan yardımcı bir uygulamadır.
Comment[uk]=GCompris-teachers – це супутня програма для вчителів, яка полегшує використання GCompris у класі.
Exec=gcompris-teachers
Icon=gcompris-teachers
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
X-DocPath=gcompris-teachers-handbook/index.html
